API_ID=
API_HASH=
BOT_TOKEN=
ADMIN_ID=
LOG_CHANNEL_ID=
LOG_CHANNEL_ID_2=
CHECK_CHANNELS=
JOIN_URLS=
TERMS_URL=
CWALLET_QR=
CWALLET_ID=
UPI_MID=
UPI_ID=
SMM_SERVER_1_KEY=
SMM_SERVER_2_KEY=
USE_PREMIUM_EMOJIS=1
